Package: net.howett.safaridownloader-lproj
Name: Safari Download Manager Localizations
Replaces: net.howett.safaridownloader
Depends: net.howett.safaridownloader
Version: 2.0~beta2
Architecture: iphoneos-arm
Description: Localizations for Safari Download Manager
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: Networking
X-DISABLED-Depiction: http://howett.net/cydia/depict/sdm/index.html
Homepage: http://howett.net/cydia/depict/sdm/index.html
Sponsor: thebigboss.org <http://thebigboss.org>
dev: dustinhowett
