<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>key</key>
	    <string>AutoRetryEnabled</string>
	    <key>label</key>
	    <string>AUTO_RETRY_ENABLED</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <integer>3</integer>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
	    <key>key</key>
	    <string>AutoRetryCount</string>
	    <key>label</key>
	    <string>RETRY_ATTEMPTS</string>
	    <key>validTitles</key>
	    <array>
		<string>RETRY_ATTEMPTS_1</string>
		<string>RETRY_ATTEMPTS_2</string>
		<string>RETRY_ATTEMPTS_3</string>
		<string>RETRY_ATTEMPTS_4</string>
		<string>RETRY_ATTEMPTS_5</string>
	    </array>
	    <key>validValues</key>
	    <array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	    </array>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>RETRY_DELAY</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSliderCell</string>
	    <key>default</key>
	    <real>1</real>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>key</key>
	    <string>AutoRetryInterval</string>
	    <key>label</key>
	    <string>Delay</string>
	    <key>max</key>
	    <real>5</real>
	    <key>min</key>
	    <real>0</real>
	    <key>showValue</key>
	    <true/>
	</dict>
    </array>
    <key>title</key>
    <string>AUTO_RETRY</string>
</dict>
</plist>
