<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Details</string>
	</dict>
	<dict>
	    <key>autoCaps</key>
	    <string>word</string>
	    <key>cell</key>
	    <string>PSEditTextCell</string>
	    <key>id</key>
	    <string>name</string>
	    <key>label</key>
	    <string>Name</string>
	    <key>noAutoCorrect</key>
	    <true/>
	    <key>placeholder</key>
	    <string>Type Name</string>
		<key>set</key>
		<string>setName:forSpecifier:</string>
		<key>get</key>
		<string>getName:</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Extensions</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSEditTextCell</string>
	    <key>noAutoCorrect</key>
	    <true/>
	    <key>placeholder</key>
	    <string>Extension</string>
		<key>set</key>
		<string>setNewItem:forSpecifier:</string>
		<key>itemType</key>
		<string>extension</string>
		<key>new</key>
		<true/>
		<key>id</key>
		<string>newExt</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Mimetypes</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSEditTextCell</string>
	    <key>noAutoCorrect</key>
	    <true/>
	    <key>placeholder</key>
	    <string>Mimetype</string>
		<key>set</key>
		<string>setNewItem:forSpecifier:</string>
		<key>itemType</key>
		<string>mimetype</string>
		<key>new</key>
		<true/>
		<key>id</key>
		<string>newMime</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSButtonCell</string>
	    <key>id</key>
	    <string>delete</string>
	    <key>label</key>
	    <string>Delete</string>
		<key>action</key>
		<string>deleteButtonPressed:</string>
	</dict>
    </array>
</dict>
</plist>
