<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DETAILS</string>
		</dict>
		<dict>
			<key>autoCaps</key>
			<string>word</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>get</key>
			<string>getName:</string>
			<key>id</key>
			<string>name</string>
			<key>label</key>
			<string>NAME</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>placeholder</key>
			<string>NAME_PLACEHOLDER</string>
			<key>set</key>
			<string>setName:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXTENSIONS_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>newExt</string>
			<key>itemType</key>
			<string>extension</string>
			<key>new</key>
			<true/>
			<key>noAutoCorrect</key>
			<true/>
			<key>placeholder</key>
			<string>EXTENSIONS_PLACEHOLDER</string>
			<key>set</key>
			<string>setNewItem:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MIMETYPES_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>newMime</string>
			<key>itemType</key>
			<string>mimetype</string>
			<key>new</key>
			<true/>
			<key>noAutoCorrect</key>
			<true/>
			<key>placeholder</key>
			<string>MIMETYPES_PLACEHOLDER</string>
			<key>set</key>
			<string>setNewItem:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>deleteButtonPressed:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>delete</string>
			<key>label</key>
			<string>DELETE_FILE_TYPE</string>
		</dict>
	</array>
</dict>
</plist>
