<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
	    <true/>
	    <key>footerText</key>
	    <string>Disabling a file type will cause Safari to not prompt you with regards to downloading a file of that type, and instead behave normally.</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSStaticTextCell</string>
	    <key>label</key>
	    <string>Disabling a file type will cause Safari to not prompt you with regards to downloading a file of that type, and instead behave normally.</string>
	    <key>legacy</key><true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Built-In Types</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Custom</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
	    <key>customControllerClass</key>
	    <string>SDSettingsCustomFileTypeController</string>
	    <key>detail</key>
	    <string>SDFileTypeSetupController</string>
	    <key>label</key>
	    <string>Add File Type...</string>
	    <key>prompt</key>
	    <string>Enter new File Type information.</string>
	    <key>okTitle</key><string>Save</string>
	    <key>cancelTitle</key><string>Cancel</string>
	</dict>
    </array>
</dict>
</plist>
