<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
	    <true/>
	    <key>footerText</key>
	    <string>FILE_TYPE_DISABLE_EXPLANATION</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSStaticTextCell</string>
	    <key>label</key>
	    <string>FILE_TYPE_DISABLE_EXPLANATION</string>
	    <key>legacy</key><true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>BUILT_IN_TYPES</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>CUSTOM</string>
	</dict>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
	    <key>customControllerClass</key>
	    <string>SDSettingsCustomFileTypeController</string>
	    <key>detail</key>
	    <string>SDFileTypeSetupController</string>
	    <key>label</key>
	    <string>ADD_FILE_TYPE</string>
	    <key>prompt</key>
	    <string>ADD_FILE_TYPE_PROMPT</string>
	    <key>okTitle</key><string>SAVE</string>
	    <key>cancelTitle</key><string>CANCEL</string>
	</dict>
    </array>
</dict>
</plist>
