<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>key</key>
	    <string>Disabled</string>
	    <key>label</key>
	    <string>Download Files</string>
	    <key>negate</key>
	    <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSLinkCell</string>
	    <key>detail</key>
	    <string>SDSettingsFileClassListController</string>
	    <key>label</key>
	    <string>File Types</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSLinkCell</string>
	    <key>detail</key>
	    <string>SDSettingsController</string>
	    <key>label</key>
	    <string>Auto-Retry Settings</string>
	    <key>plist</key>
	    <string>AutoRetry</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <integer>5</integer>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
	    <key>key</key>
	    <string>MaxConcurrentDownloads</string>
	    <key>label</key>
	    <string>Max. Concurrent Downloads</string>
	    <key>validTitles</key>
	    <array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
	    </array>
	    <key>validValues</key>
	    <array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
	    </array>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>footerText</key>
	    <string>This option causes Safari Download Manager to consider file extensions when you tap a link, and prompt to download based on what it finds. This method causes a lot of false positives, and is generally a bad idea. SDM defaults to using MIME-types to determine whether or not to download a file.</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>key</key>
	    <string>UseExtensions</string>
	    <key>label</key>
	    <string>Use File Extensions</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
	    <true/>
	    <key>legacy</key><true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSTitleValueCell</string>
	    <key>label</key>
	    <string>This option causes Safari Download Manager to consider file extensions when you tap a link, and prompt to download based on what it finds. This method causes a lot of false positives, and is generally a bad idea. SDM defaults to using MIME-types to determine whether or not to download a file.</string>
	    <key>legacy</key><true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
	    <true/>
	    <key>footerText</key>
	    <string>© 2009 Youssef Francis and Dustin Howett</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSTitleValueCell</string>
	    <key>label</key>
	    <string>© 2009 Youssef Francis and Dustin Howett</string>
	    <key>legacy</key><true/>
	</dict>
    </array>
    <key>title</key>
    <string>Safari Downloader</string>
</dict>
</plist>
