<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>key</key>
	    <string>Enabled</string>
	    <key>label</key>
	    <string>DOWNLOADER_ENABLED</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSLinkCell</string>
	    <key>detail</key>
	    <string>SDSettingsFileClassListController</string>
	    <key>label</key>
	    <string>FILE_TYPES</string>
	</dict>
	<!--dict>
	    <key>cell</key>
	    <string>PSLinkCell</string>
	    <key>detail</key>
	    <string>SDListController</string>
	    <key>label</key>
	    <string>AUTO_RETRY_SETTINGS</string>
	    <key>plist</key>
	    <string>AutoRetry</string>
	</dict-->
	<dict>
	    <key>cell</key>
	    <string>PSLinkListCell</string>
	    <key>default</key>
	    <integer>5</integer>
	    <key>defaults</key>
	    <string>net.howett.safaridownloader</string>
	    <key>detail</key>
	    <string>PSListItemsController</string>
	    <key>key</key>
	    <string>MaxConcurrentDownloads</string>
	    <key>label</key>
	    <string>MAX_CONCURRENT_DOWNLOADS</string>
	    <key>validTitles</key>
	    <array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
	    </array>
	    <key>validValues</key>
	    <array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
	    </array>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
	    <true/>
	    <key>footerText</key>
	    <string>© 2009-2012 Dustin Howett, Youssef Francis</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSTitleValueCell</string>
	    <key>label</key>
	    <string>© 2009-2012 Dustin Howett, Youssef Francis</string>
	    <key>legacy</key><true/>
	</dict>
    </array>
    <key>title</key>
    <string>Safari Downloader</string>
</dict>
</plist>
