Package: net.howett.safaridownloadersbs
Name: SDM SBSettings
Pre-Depends: firmware (>= 3.0)
Depends: sbsettings, net.howett.safaridownloader
Version: 1.2.0
Architecture: iphoneos-arm
Description: An SBSettings toggle for Safari Download Manager
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: Tweaks
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=safaridownloaderData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=safaridownloaderData
Sponsor: thebigboss.org <http://thebigboss.org>
dev: dustinhowett
tag: cydia::commercial
